*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    align-items: center;

    height: 100vh;
}

.box{
    flex: 1;
    height: 200px;
    background-color: rgb(209, 209, 209);
}

.container :nth-child(even){
    background-color: black;
}

